* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  color: #ffffff;
  background-color: #52527a;
}

.logo {
  flex: 1;
}
nav ul {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  list-style-type: none;
}
main {
  padding: 1rem;
  width: 100%;
}
.movie-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.movie-holder a {
  flex: 1;
}

#loader {
  border: 30px solid #f3f3f3;
  border-radius: 50%;
  border-top: 30px solid #3498db;
  border-bottom: 30px solid #3498db;
  width: 1px;
  height: 1px;
  margin-top: 10%;
  margin-left: 50%;
  -webkit-animation: spin 5s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.movie-img-wrapper {
  background-size: cover;
  width: auto;
  height: 250px;
}
#booker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#booker-grid-holder {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 2rem;
}

.booking-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5rem;
  height: 150px;
  width: 200px;
  color: #fff;
  font-weight: 600;
}
#confirm-purchase {
  display: grid;
  place-items: center;
  font-size: 1.2rem;
}
#booking-grid-undefined {
  font-size: auto;
}

.seat {
  display: grid;
  place-content: center;
  /* background-color: pink; */
}
.available-seat {
  background-color: green;
}
.unavailable-seat {
  background-color: red;
}
.select-seat {
  border: 4px outset rgb(0, 0, 0);
}

.d-none {
  display: none;
}
.v-none {
  visibility: hidden;
}

input,
button[type="submit"] {
  width: 200px;
  height: 35px;
  padding: 0.5rem;
}
@keyframes spin {
  10% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  80% {
    transform: rotate(260deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
a{
  text-decoration: none;
}

footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #272727;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
  margin-top: 5.7rem;
}

footer li{
  list-style: none;
  margin: 10px;
  display: inline-block;
}

.icons a{
  background: #52527a;
  color: #272727;
  padding: 14px;
  font-size: 20px;
  border-radius: 100%;
  display: flex;
}
.icons a:hover{
  color: #ffffff;
  transition: 0.5s;
}

.menu a{
  color: #ffffff;
  text-transform: capitalize;
}
.menu a:hover{
  color: #52527a;
  transition: 0.5s;
}

.footer-copyright{
  background-color:#52527a;
  color: #ffffff;
  padding: 15px;
  margin-top: 30px;
  text-transform: capitalize;
}

.footer-copyright p{
  margin-bottom: 0px;
}